= form_tag "/api_calls/#{@call_id}/videos" do
  - @videos.each do |video|
    = label_tag "title"
    = text_field_tag :title, video.title
    = label_tag "slug"
    = text_field_tag :slug, video.slug
    = label_tag "host"
    = text_field_tag :host, video.host
    = label_tag "embed_code"
    = text_field_tag :embed_code, video.embed_code
    %hr

  = submit_tag "Save"
