<div class="row">
  <div class="col-sm-6">
    <h1>Video Events</h1>
  </div><!-- /.col-sm-6 -->

  <div class="col-sm-6">
    <h1>
      <%= link_to "Pull Events", events_path, method: :post %>
    </h1>
  </div><!-- /.col-sm-6 -->
</div><!-- /.row -->

<div class="row">
  <div class="col-sm-6">
    <% if @video_events.any? %>
      <ul>
        <% @video_events.each do |event| %>
          <li><%= event.video.title %> | <%= event.action %> | <%= event.date %></li>
        <% end %>
      </ul>
    <% else %>
      <h3>There are no events in the database.</h3>
    <% end %>
  </div><!-- /.col-sm-6 -->

  <div class="col-sm-6">
    <% if @analytics_calls.any? %>
      <ul>
        <% @analytics_calls.each do |call| %>
          <li>brought in <%= call.events_pulled %> events on <%= call.created_at %></li>
        <% end %>
      </ul>
    <% else %>
      <h3>No calls to the Google Analytics Reporting API have been sent</h3>
    <% end %>
  </div><!-- /.col-sm-6 -->
</div><!-- /.row -->