= link_to "home", root_path
|
= link_to "call.TV", new_api_call_path
|
= link_to "all videos", videos_path
|
= link_to "events", events_path
|
%a{href: "https://desolate-fortress-9280.herokuapp.com/", target: "_blank"}
  production
